.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}

.input {
  width: 100%;
  margin: 0.75em 0.25em;
}

.input label {
  display: block;
  margin-bottom: 0.25em;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
}

.error {
  color: brown;
}

.input input {
  width: 96%;
  max-width: 500px;
  padding: 0.5em 0.25em;
  border: 0.25px solid rgb(197, 197, 197);
  border-radius: 4px;
}

.button {
  border: none;
  padding: 0.75em 1.25em;
  font-weight: 600;
  background-color: lightblue;
  border-radius: 4px;
  margin: 1.2em auto;
  cursor: pointer;
}
