:root {
  --success: rgb(151, 228, 75);

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .body {
    padding: 0.25em;
  }
}

button {
  border: none;
  padding: 0.75em 1.25em;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(220, 226, 214);
  box-shadow: 0px 4px 8px 2px rgb(235, 238, 240);
  font-weight: bold;
}

button:active {
  box-shadow: 0px 2px 4px 2px rgb(235, 238, 240);
  backdrop-filter: brightness(110);
}

.btn-success {
  background: rgb(151, 228, 75);
}

.btn-primary {
  background: darkcyan;
}
